{% include 'breadcrumbs' %}

<div class="main">
  <div class="about-us">
    <div class="about-us__content">
      <span class="about-us__title"></span>
      <p class="about-us__phar"></p>
      <p class="about-us__phar"></p>
    </div>
    <div class="about-us__preview"></div>
  </div>
  
  {% include 'features' %}
  
</div>