{% include 'page-title' %}

<div class="page-main">
  <div class="blog-list">
  
    {% for article in blog.articles limit: 4 %}
      {% include 'blog-demo' %}
    {% endfor %}
  
  </div>
  
  {% include 'pagination' %}
  
</div>