{% include 'page-title' %}

<div class="page-main">
  <div class="catalog">
    {% paginate products by 12 %}
      {% include 'catalog-controls' %}
      <div class="catalog__list  view-tile">
        {% for product in products limit: 12 %}
          {% include 'card' %}
        {% endfor %}
      </div>
      <div class="catalog__nav">
        {% include 'pagination' %}
      </div>
    {% endpaginate %}
  </div>
  {% include 'text-field' %}
</div>
<!--<div class="class">Hello from watch</div>-->