{% include 'page-title' %}

<div class="page-main">
  <div class="catalog">
    <div class="catalog__controls">
<!--
      <form class="products__controls  form">
      <div class="form__select  products__controls-item">
        <label for="products-controls__type" class="products__control-label  form__label  form__label--select">Выберите вид тренажера</label>
        <select class="form__select" id="products-controls__type" name="products-controls__type">
          <option value="products-controls__treadmills">Беговые дорожки</option>
          <option value="products-controls__exercise-bikes" selected>Велотренажёры</option>
          <option value="products-controls__elliptical">Эллиптические тренажёры</option>
          <option value="products-controls__steppers">Степперы</option>
          <option value="products-controls__rowing-machines">Гребные тренажёры</option>
        </select>
      </div>
      <div class="form__select  products__controls-item">
        <label for="products-controls__price" class="products__control-label  form__label  form__label--select">Выберите цену тренажера</label>
        <select class="form__select" id="products-controls__price" name="products-controls__price">
          <option value="products-controls__cheaps" selected>Бюджетные модели</option>
          <option value="products-controls__middle">Модели со средней ценой</option>
          <option value="products-controls__expesive">Профессиональные модели</option>
        </select>
      </div>
    </form>
-->
    </div>
    <div class="catalog__list">
    
      {% for product in products limit: 12 %}
        {% include 'card' %}
      {% endfor %}
    
    </div>
    
    {% include 'pagination' %}
    
  </div>
  
  {% include 'text-field' %}
  
</div>