{% include 'page-title' %}

<div class="page-main">
  <div class="catalog">
    <div class="catalog__controls">
      
    </div>
    <div class="catalog__list">
    
      {% include 'card' %}
    
    </div>
    
    {% include 'pagination' %}
    
  </div>
  
  {% include 'text-field' %}
  
</div>