{% include 'breadcrumbs' %}


<div class="main">
  <div class="contacts">
    <div class="contacts__content">
      <span class="contacts__title"></span>
      <p class="contacts__phar"></p>
      <ul class="contacts__list">
        <li class="contacts__item"></li>
        <li class="contacts__item"></li>
        <li class="contacts__item"></li>
      </ul>
      <p class="contacts__social-desc"></p>
      
      {% include 'social' %}
      
    </div>
    <div class="contacts__preview"></div>
  </div>
</div>