<!DOCTYPE html>
<html lang="ru">
<head>
  {% include 'head' %}
</head>
<body>
  <div class="media-detector"></div>
  
  {% include 'page-header' %}
    
  {{ content_for_layout }}
  
  {% include 'page-footer' %}
  {% include 'modals' %}
  {% include 'scripts' %}
  
</body>
</html>