{% include 'page-title' %}
<div class="page-main">
  <div class="info  representatives">
    <div class="info__editable  representatives__editable  text-editable">
      <div class="representatives__item  representatives__item--optrf  current">
        {{ blocks.representatives-optrf.content }}
      </div>
    </div>
    <div class="info__preview  representatives__map">
      <div id="map">
        
      </div>
    </div>
  </div>  
</div> 

<!--
  Кординаты представителей
  optrf.com: 55.674576, 37.444967
-->