{% include 'page-title' %}

<div class="page-main">
  <div class="info  about-us">
    <div class="info__editable  about-us__editable  text-editable">
      {{ blocks.about-us.content }}
    </div>
    <div class="info__preview  about-us__preview">
      <img src="{{ 'img-about-us.jpg' | file_url }}" alt="{{ image.title }}">
    </div>
  </div>
  
  {% include 'features' %}
  
</div> 