{% include 'page-title' %}

<div class="page-main">
	
  <div class="info  about-us">
	  <div class="about-us__edit  text-editable">
	  	{{ blocks.about-us.content }}
	  	{% comment %}<h2>КОМПАНИЯ WADGE – ПРОФЕССИОНАЛЬНЫЙ ПРОИЗВОДИТЕЛЬ ТАБАКА ПРЕМИУМ КЛАССА</h2>

			<img src="{{ 'img-about-us.jpg' | file_url }}" alt="{{ image.title }}">

	  	<p>Табак WADGE – детище лучших химиков и профессионалов в отрасли приготовления табака для кальяна. Изучив потребительские вкусы, учтя мнения блоггеров, знания ведущих кальянных и советы экспертов, была выведена уникальная рецептура приготовления табака. Взяв за принципы своей работы высокое качество, компания WADGE может похвастаться эксклюзивным продуктом, не имеющим аналогов на Рынке.</p>

			<p>Табак для кальяна WADGE представляют собой продукцию авторской рецептуры. В основе лежит равное соотношение табачных листьев Берли (Burley) и Вирджиния (Virginia). Берли легко поглощает и удерживает вспомогательные ароматы в смесях, а также имеет собственные отчетливо слышные пряные нотки. Благодаря этому достигается ощутимое присутствие вкуса у табака WADGE. В листьях Вирджиния содержится подавляющий процент сахара и-за сушки дымом, поэтому в смесях WADGE отчетливо ощущается мягкая ненавязчивая сладость.</p>

			<p>В производстве используется технология поочередности добавления ингредиентов и вымачивания листьев в сахарно-табачном сиропе. Двойная ферментация сырья способствует снижению содержания смол и никотина, сбалансированию ароматных свойств готового продукта. Строгое соблюдение технологии и контроль качества на каждом этапе производства позволяют получить уникальный, ни с чем не сравнимый вкус дыма.</p>{% endcomment %}
	  </div>
  </div>
  
  {% include 'features' %}
  
</div> 