{% include 'page-title' %}
<div class="page-main">
  <div class="info  representatives">
    <div class="info__editable  representatives__editable  text-editable">
      {% comment %}<div class="representatives__item  representatives__item--optrf  current">
        {{ blocks.representatives-optrf.content }}
      </div>{% endcomment %}
    </div>
    <div class="info__preview  representatives__map">
      <div id="map">
        
      </div>
    </div>
  </div>  
</div> 