.about-us {
	&__edit {
		h2 {
			line-height: 1.4em;
			text-align: center;
			word-wrap: break-word;
		}

		img {
			float: right;
			max-width: 517px;
			width: 100%;
			height: auto;
			margin-left: 20px;

			@media (max-width: 1100px) {
				float: none;
				display: flex;
				margin: 0 auto;
			}	
		}
	}
}