.alert {
  border-bottom: 5px solid $color-main;
  
  background: $color-second url("bg--alert.jpg") no-repeat center 0;
  
  &__wrapper {
    @include wrapper;
    
    position: relative;

    display: flex;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 475px;
    padding-top: 110px;
    margin-left: auto;
    margin-right: 140px;
  }
  
  &__index-target {
    @include un-target;
    @include btn($color-action-main, 25px);
    @include font-other($color-main, 14px);
    
    @include react--trs-default;
    @include react--background($color-action-main-dark, $color-action-main-dark);
    
    position: absolute;
    top: 20px;
    left: 5px;
    
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    padding-left: 55px;
    padding-right: 24px;
    padding-top: 16px;
    
    text-transform: uppercase;
    
    &:hover .alert__index-target-text::before {
//      transform: translateY(-6px);
    }
    
    &:active {
      box-shadow: $shadow-btn;
    }
    
    &::before {
      @include sprite-icon__cigarets;
      
      content: "";
      
      position: absolute;
      left: 26px;
      top: 50%;
      
      margin-top: -12px;
    }
    
    .fa {
      @include react--trs-default;
      
      margin-left: 10px;
      
      font-size: 22px;
    }
    
    &:hover .fa {
      transform: translate(8px);
    }
  }
  
  &__index-target-text {
    position: relative;

    padding-bottom: 6px;

    &::before {
      @include react--trs-default;

      content: "";

      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      z-index: 1;

      border-bottom: 1px dashed $color-main;
    }
  }
  
  &__title {
    @include font-h1($color-main);
    
    display: inline-block;
    margin-bottom: 15px;
  }
  
  &__sub-title {
    @include font-h2($color-action-second);
    
    margin-bottom: 30px;
    
    font-weight: 400;
  }
  
  &__message {
    @include font-p($color-main-dark);
    
    max-width: 425px;
    margin: 0 0 35px;
  }
  
  &__controls {
    display: flex;
    align-items: baseline;
  }
  
  &__target {
    @include un-target;
    @include font-other($color-action-second, 14px);
    
    @include react--trs-default;
    @include react--color($color-second, $color-second);
    @include react--background($color-action-second, $color-action-second);
    @include react--box-shadow(0 0 0 2px $color-action-second, inset 0 2px 4px fade-out($color-second, 0.5));
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 28px;
    
    line-height: 19px;
    font-weight: 400;
    
    border-radius: 20px;
    box-shadow: 0 0 0 2px $color-action-second;
  }
  
  &__controls-disc {
    @include font-p($color-main);
    
    display: flex;
    margin-left: 15px;
    margin-right: 5px;
  }
  
  &__link {
    @include un-link;
    @include font-p($color-action-second);
  }
  

}