.alert {
  background: $color-second url("bg--alert.jpg") no-repeat center 0;
  
  &__wrapper {
    @include wrapper;
    
    position: relative;

    display: flex;
  }
  
  &__container {
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 475px;
    padding-top: 110px;
    margin-left: auto;
    margin-right: 140px;
  }
  
  &__index-target {
    @include un-target;
    @include btn($color-action-main, 25px);
    @include font-other($color-main, 14px);
    
    position: absolute;
    top: 20px;
    left: 5px;
    
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
    padding-left: 55px;
    padding-right: 45px;
    padding-top: 16px;
    
    text-transform: uppercase;
    
    &::before {
      content: "";
      
      position: absolute;
      left: 26px;
      top: 50%;
      
      width: 18px;
      height: 24px;
      margin-top: -12px;
      
      background: url("icon__cigarets.png") no-repeat center center;
    }
    
    &::after {
      content: "";
      
      position: absolute;
      right: 26px;
      top: 50%;
      
      width: 7px;
      height: 13px;
      margin-top: -6.5px;
      
      background: url("icon__catalog-arrow.png") no-repeat center center;
    }
  }
  
  &__title {
    @include font-h1($color-main);
    
    display: inline-block;
    margin-bottom: 15px;
  }
  
  &__sub-title {
    @include font-h2($color-action-second);
    
    margin-bottom: 30px;
    
    font-weight: 400;
  }
  
  &__message {
    @include font-p($color-main-dark);
    
    max-width: 425px;
    margin: 0 0 35px;
  }
  
  &__controls {
    display: flex;
    align-items: center;
  }
  
  &__target {
    @include un-target;
    @include font-other($color-action-second, 15px);
    
    padding: 8px 40px;
    border: 2px solid $color-action-second;
    
    line-height: 19px;
    
    border-radius: 20px;
  }
  
  &__controls-disc {
    @include font-p($color-main);
    
    display: flex;
    margin-left: 15px;
    margin-right: 5px;
  }
  
  &__link {
    @include un-link;
    @include font-p($color-action-second);
  }
  

}