.article {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  
  &__preview {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
    
    overflow: hidden;
    background-color: $gray-light;
  }
  
  &__title {
    @include font-h2($color-second);
    
    margin-bottom: 30px;
  }
  
  .date--slim {
    margin-bottom: 30px;
  }
  
  &__textset {
    @include font-p($color-second-light);
    
    padding-bottom: 20px;
    
    line-height: 24px;
    
    p {
      margin: 24px 0;
    }
  }
  
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px;
  }
  
  &__social {
    @include font-other($gray, 16px);
    
    display: flex;
    align-items: center;
    
    .social {
      margin-left: 15px;
    }
  }
  
  &__controls {
    display: flex;
    justify-content: space-between;
    width: 500px;
  }
  
  &__control-group {
    display: flex;
    align-items: center;
    
    *:first-child {
      margin-right: 10px;
    }
  }
  
  &__control {
    @include radial(25px);
  }
  
  &__control-disc {
    @include font-other($gray, 16px);
  }
}