.basket {
  display: flex;
  flex-direction: column;
  padding: 25px 0 60px;
  
  &__counter {
    display: inline-block;
    margin-bottom: 30px;
  }
  
  &__counter-value {
    font-weight: 700;
  }
  
  &__settings {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
  }
  
  &__setting-item {
    @include font-other($gray, 14px);
    
    text-transform: uppercase;
    
    //temporary
    &:nth-of-type(1) {
      margin-left: 220px;
    }
  }
  
  &__basket-list {
    display: flex;
    flex-direction: column;
  }
  
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
  }
  
  &__fieldset {
    display: flex;
    align-items: center;
  }
  
  &__back-btn {
    @include radial(25px);
    
    @include react--trs-default;
    
    margin-right: 10px;
    
    background: url("icon__arrow-left.png") no-repeat center center;
    
    &:hover {
      background-image: url("icon__arrow-left--slim-red.png");
    }
  }
  
  &__action-disc {
    @include un-link;
    @include font-other($gray, 16px);
  }
  
  &__targets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__sub-target {
    @include un-target;
    @include font-other($color-action-main, 16px);
    
    margin-bottom: 27px;
  }
  
  &__target {
    @include btn($color-action-main, 25px);
    @include font-other($color-main, 15px);
    
    @include react--trs-default;
    @include react--background($color-action-main-dark, $color-action-main-dark);
    
    width: 195px;
    height: 50px;
    
    &:active {
      box-shadow: $shadow-btn;
    }
  }
  
  &__final-price {
    @include font-other($color-second, 25px);
    
    display: flex;
    margin-left: 10px;
    
    font-weight: bold;
    text-transform: uppercase;
  }
}