.basket {
  @include react--trs-default;
//  display: flex;
//  flex-direction: column;
  padding-top: 25px;
  
  @media (min-width: $sm) {
    padding-left: 30px;
    padding-right: 30px;
  }
  
//  &__list {
//    width: 100%;
//    
//    td {
//      border-bottom: 2px dashed $gray-lighten;
//    }
//  }
  
//  &__settings {
//    display: flex;
//    justify-content: space-between;
//    width: 100%;
//    padding: 10px 0;
//  }
  
//  &__settings-item {
//    @include font-other($gray, 14px);
//    
//    text-transform: uppercase;
//    
//    &:nth-of-type(2) {
//      padding-left: 65px;
//    }
//    
//    &:nth-of-type(3) {
//      padding-left: 80px;
//    }
//    
//    &:nth-of-type(4) {
//      width: 150px;
//      
//      text-align: center;
//    }
//    
//    &:nth-of-type(5) {
//      padding-left: 60px;
//    }
//  }
//  
//  &__counter {
//    display: inline-block;
//    margin-bottom: 30px;
//  }
//  
//  &__counter-value {
//    font-weight: 700;
//  }
  
  &__items {
    margin-top: 30px;
  }
  
  &__items-settings {
    @include font-other($gray, 12px);
    
    text-transform: uppercase;
  }
  
  &__item {
    @include font-other($color-second, 16px);
    
    text-transform: uppercase;
  }
  
  &__items-settings,
  &__item {
    position: relative;
    
    padding-bottom: 20px;
    
    &::before {
      content: "";
      
      position: absolute;
      left: 0;
      right: 0;
      bottom: 9px;
      
      height: 2px;
      
      background-image: repeating-linear-gradient(to left, $gray-lighten 0px, $gray-lighten 3px, transparent 3px, transparent 6px, $gray-lighten 6px, $gray-lighten 9px);
    }
  }
  
  &__item-data {
    &--common-price {
      font-weight: 700;
    }
  }
  
  &__preview-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 135px;
    
    overflow: hidden;
  }
  
  &__remove-btn {
    @include radial(25px);
    
    @include react--trs-default;
    
    &::before {
      @include sprite-icon__cross--gray;
      
      content: "";
    }
    
    &:hover::before {
      @include sprite-icon__cross--red;
      
      content: "";
    }
  }
  
  &__controls {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    
    @media (min-width: $sm) {
      align-items: center;
    }
    
    @media (min-width: $lg) {
      align-items: flex-start;
    }
  }
  
  &__fieldset {
    display: flex;
    align-items: center;
  }
  
  &__action-disc {
    @include un-link;
    @include font-other($gray, 16px);
  }
  
  &__targets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__sub-target {
    @include un-target;
    @include font-other($color-action-main, 16px);
    
    display: none;
    margin-bottom: 27px;
  }
  
  &__target {
    @include btn($color-action-main, 25px);
    @include font-other($color-main, 15px);
    
    @include react--trs-default;
    @include react--background($color-action-main-dark, $color-action-main-dark);
    
    width: 195px;
    height: 50px;
    
    &:active {
      box-shadow: $shadow-btn;
    }
  }
  
  &__final-price {
    @include font-other($color-second, 25px);
    
    display: flex;
    margin-left: 10px;
    
    font-weight: bold;
    text-transform: uppercase;
  }
}