.blog-demo {
  @include margin-bottom(40px);
  
  display: flex;
  
  &__preview {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 220px;
    flex-shrink: 0;
    
    overflow: hidden;
    background-color: $gray-light;
  }
  
  &__content {
    margin-left: 40px;
  }
  
  &__title {
    @include font-other($color-second, 16px);
    
    margin: 22px 0 18px;
    
    font-weight: 900;
    text-transform: uppercase;
  }
  
  &__desc {
    @include font-p($color-second);
    
    margin: 22px 0 30px;
  }
  
  &__target {
    @include un-link;
    @include font-other($color-action-main, 15px);
  }
}