.card {
  //variables
    //media
      $sm-1: 1110px;
  
  @include react--trs-default;
  
  position: relative;
  
  display: flex;
  align-items: flex-start;
  min-height: 175px;
  width: 100%;
  padding: 10px 15px;
  border: 1px solid $gray-lighter;
  margin-bottom: 20px;
  
  background-color: $color-main;
  
  @media (min-width: $sm) {
    flex-direction: column;
    align-items: center;
    width: 270px;
    min-height: 513px;
    padding: 28px 25px 83px;
  }
  
  &:hover {
    @media (min-width: $sm) {
      box-shadow: 0 0 40px 0 fade-out($black, 0.2);
    }
  }
  
  @media (min-width: $sm-1) {
    margin-bottom: 40px;
  }
  
  &--not-avialable {
    filter: grayscale(1);
  }
  
  &__status {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    
    display: flex;
  }
  
  &__label-new {
    @include label($color-status-new);
    
    margin-right: auto;
    
    &::before {
      content: "New";

      color: $color-main;
      font-size: 16px;
      line-height: 16px;
    }
  }
  
  &__label-hot {
    @include label($color-status-star);
    
    margin-right: auto;
    
    &::before {
      @include sprite-icon__star;
      
      content: "";
    }
  }
  
  &__price {
    @include font-other($color-main, 14px);
    
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    
    text-transform: uppercase;
    
    background-color: $color-action-main;
    
    &--sale {
      position: relative;
      
      background-color: $color-second;
      
      &::before {
        content: "";
        
        position: absolute;
        top: 50%;
        right: 0;
        
        border-top: 7px solid $transparent;
        border-left: 7px solid $transparent;
        border-bottom: 7px solid $transparent;
        border-right: 6px solid $color-action-main;
        margin-top: -7px;
      }
    }
    
    @media (min-width: $sm) {
      display: flex;
    }
  }
  
  &__mob-prices {
    margin-bottom: 10px;
  }
  
  &__mob-price {
    @include font-other($color-action-main, 16px);
    
    font-weight: 600;
    text-transform: uppercase;
    
    &--old {
      @include font-other($gray, 16px);
      
      font-weight: 600;
      text-decoration: line-through;
    }
    
    @media (min-width: $sm) {
      display: none;
    }
  }
  
  &__preview {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    max-width: 175px;
    width: 100%;
    min-height: 155px;
    margin-right: 10px;
    
    overflow: hidden;
    
    @media (min-width: $sm) {
      width: 220px;
      height: 300px;
      padding: 0;
      margin-right: 0;
    }
  }
  
  &__content {
    position: relative;
    
    align-self: stretch;
    min-height: 155px;
    padding-bottom: 40px;
    
    @media (min-width: $sm) {
      position: static;
    }
  }
  
  &__taste {
    position: absolute;
    top: 60%;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    
    background-color: $color-main;
    border-radius: 50%;
    
    &::before {
      content: "";
      
      width: 55px;
      height: 55px;
      
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
    }
    
    &--green-aple::before {
      @include sprite-taste--green-aple;
    }
      
    &--orange::before {
      @include sprite-taste--orange;
    }
      
    &--red-aple::before {
      @include sprite-taste--red-aple;
    }
  }
  
  &__name {
    @include font-h2($color-second);
    
    display: flex;
    margin: 25px 0 17px;

    @media (min-width: $sm) {
      text-align: center;
    }
  }
  
  &__disc {
    @include font-p($gray);
    
    @media (min-width: $sm) {
      text-align: center;
    }
  }
  
  &__controls {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    
    display: flex;
    

    @media (min-width: $sm) {
      left: 25px;
      bottom: 28px;
      right: 25px;
      
      justify-content: space-between;
    }
  }
  
  &__target {
    @include un-target;
    @include react--trs-default;
    @include react--background($color-action-main-dark, $color-action-main-dark);
    
    position: relative;
    
    width: 38px;
    height: 38px;
    margin-left: 20px;
    
    font-size: 0;
    
    background-color: $color-action-main;
    border-radius: 50%;
    
    &::before {
      @include sprite-icon__basket--slim;

      content: "";

      position: absolute;
      left: 11px;
      top: 50%;

      margin-top: -9.5px;
    }
    
    @media (min-width: $sm) {
      @include btn($color-action-main, 16px);
      @include font-other($color-main, 12px);

      width: 125px;
      height: 32px;
      padding-left: 27px;

      &:active {
        box-shadow: $shadow-btn;
      }

      &::before {
        @include sprite-icon__basket--slim;

        content: "";

        position: absolute;
        left: 20px;
        top: 50%;

        margin-top: -10px;
      }
    }
  }
  
  &__link {
    @include un-link;
    @include font-p($gray);
    
    margin: 0 auto;
    
    &::before {
      content: "";
      
      position: absolute;
      left: -17px;
      right: -17px;
    }
  }
}

.slider {
  &__list {
    .card {
      @include margin-right(20px);
      margin-bottom: 0;
    }
  }
}

.card__price--sale + .card__price {
  text-decoration: line-through;
}