.card {
  @include react--trs-default;
  
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  min-height: 513px;
  padding: 28px 25px 83px;
  border: 1px solid $gray-lighter;
  
  background-color: $color-main;
  
  &:hover {
    box-shadow: 0 0 40px 0 fade-out($color-second, 0.2);
  }
  
  &:nth-of-type(-n+8) {
    margin-bottom: 40px;
  }
  
  &--not-avialable {
    filter: grayscale(1);
  }
  
  &__status {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    
    display: flex;
  }
  
  &__label-new {
    @include label($color-status-new);
    
    margin-right: auto;
  }
  
  &__label-hot {
    @include label($color-status-star);
    
    margin-right: auto;
  }
  
  &__price {
    @include font-other($color-main, 14px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 50px;
    
    text-transform: uppercase;
    
    background-color: $color-action-main;
    
    &--limit {
      background-color: $color-second;
    }
  }
  
  &__preview {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 300px;
    
    overflow: hidden;
  }
  
  &__taste {
    position: absolute;
    top: 60%;
    left: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    
    background-color: $color-main;
    border-radius: 50%;
    
    &::before {
      content: "";
      
      width: 55px;
      height: 55px;
      
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 50%;
    }
    
    &--green-aple::before {
      background-image: url("taste--green-aple.png");
    }
      
    &--green-orange::before {
      background-image: url("taste--orange.png");
    }
      
    &--red-aple::before {
      background-image: url("taste--red-aple.png");
    }
  }
  
  &__name {
    @include font-h2($color-second);
    
    display: flex;
    max-width: 200px;
    margin: 25px 0 17px;
    
    text-align: center;
  }
  
  &__disc {
    @include font-p($gray);
    
    text-align: center;
  }
  
  &__controls {
    position: absolute;
    left: 25px;
    bottom: 28px;
    right: 25px;
    
    display: flex;
    justify-content: space-between;
  }
  
  &__target {
    @include btn($color-action-main, 16px);
    @include font-other($color-main, 12px);
    
    @include react--trs-default;
    @include react--background($color-action-main-dark, $color-action-main-dark);
    
    position: relative;
    
    width: 125px;
    height: 32px;
    padding-left: 27px;
    
    &:active {
      box-shadow: $shadow-btn;
    }
    
    &::before {
      content: "";
      
      position: absolute;
      left: 20px;
      top: 50%;
      
      width: 15px;
      height: 18px;
      margin-top: -10px;
      
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("icon__basket--slim.png");
    }
  }
  
  &__link {
    @include un-link;
    @include font-p($gray);
    
    margin: 0 auto;
    
    &::before {
      content: "";
      
      position: absolute;
      left: -17px;
      right: -17px;
    }
  }
}

.slider {
  &__list {
    .card {
      @include margin-right(20px);
      margin-bottom: 0;
    }
  }
}