.features {
  display: flex;
  justify-content: space-between;
  
  &__item {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    padding-top: 113px;
    
    &::before {
      content: "";
      
      position: absolute;
      top: 0px;
      left: 50%;
      
      width: 110px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: center center;
      
    }
  }
  &__item:nth-of-type(1)::before {
    @include sprite-features-1;
    
    margin-left: -52px;
  }
  
  &__item:nth-of-type(2)::before {
    @include sprite-features-2;
    
    margin-left: -38.5px;
  }
  
  &__item:nth-of-type(3)::before {
    @include sprite-features-3;
    
    margin-left: -29px;
  }
  
  &__item:nth-of-type(4)::before {
    @include sprite-features-4;
    
    margin-left: -45.5px;
  }
  
  &__title {
    @include font-h2($color-second);
    
    margin-bottom: 20px;
  }
  
  &__description {
    @include font-p($color-second);
    
    max-width: 250px;
    
    text-align: center;
  }
}