.features {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  
  @media (min-width: $lg) {
    flex-direction: row;
    padding-bottom: 130px;
  }
  
  &__container {
    display: flex;
    
    @media (min-width: $xs) {
      flex-direction: column;
      justify-content: center;
      flex-basis: 100%;
    }
    
    @media (min-width: $sm) {
      flex-direction: row;
    }
    
    @media (min-width: $lg) {
      flex-basis: 50%;
    }
  }
  
  &__item {
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 113px;
    margin-bottom: 60px;
    
    @media (min-width: $sm) {
      @include margin-right(80px);
    }
    
    @media (min-width: $lg) {
      @include margin-right(0px);
      
      flex-basis: 50%;
      margin-bottom: 0;
    }
    
    &::before {
      content: "";
      
      position: absolute;
      top: 0px;
      left: 50%;
      
      width: 110px;
      height: 90px;
      background-repeat: no-repeat;
      background-position: center center;
      
    }
  }
  &__item.features__item--plant::before {
    @include sprite-features-1;
    
    margin-left: -52px;
  }
  
  &__item.features__item--clear::before {
    @include sprite-features-2;
    
    margin-left: -38.5px;
  }
  
  &__item.features__item--strong::before {
    @include sprite-features-3;
    
    margin-left: -29px;
  }
  
  &__item.features__item--taste::before {
    @include sprite-features-4;
    
    margin-left: -45.5px;
  }
  
  &__title {
    @include font-h2($color-second);
    
    margin-bottom: 20px;
  }
  
  &__description {
    @include font-p($color-second);
    
    max-width: 250px;
    
    text-align: center;
  }
}