.page-footer {
  background: url("bg--footer.jpg") center center;

  &__wrapper {
    @include wrapper;
  }
  
  &__flex-wrapper:nth-of-type(1) {
    background-color: $color-second-transen;
  }
  
  &__flex-wrapper:nth-of-type(2) {
    background-color: $color-second-trans;
  }
  
  &__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 55px 0 50px;
  }
  
  &__subscribe-title {
    @include font-h2($color-main);
    margin-bottom: 18px;
  }
  
  &__subscribe-disc {
    @include font-p($gray);
    margin-bottom: 35px;
  }
  
  &__main {
    display: flex;
    justify-content: space-between;
    padding: 50px 0 40px;
  }
  
  &__main-col {
    min-width: 245px;
  }
  
  &__col-title {
    @include font-h3($color-main);
    
    margin: 0 0 15px 0;
  }
  
  &__promo {
    @include font-p($gray);
    
    display: flex;
    max-width: 245px;
    margin-top: 23px;
    
    line-height: 22px;
  }
  
  p {
    @include font-p($gray);
    
    display: flex;
    max-width: 265px;
    max-height: 85px;
    margin: 0 0 8px 0;
    
    line-height: 22px;
    
    overflow: hidden;
  }
  
  &__blog-link {
    @include un-link;
    @include font-other($gray-lighter, 13px);
    
    @include react--trs-default;
    @include react--color($color-main, $color-main);
  }
  
  &__menu-list {
    @include un-list;
  }
  
  &__menu-item {
    margin: 8px 0;
  }
  
  &__menu-link {
    @include un-link;
    @include font-p($gray);
    
    @include react--trs-default;
    @include react--color($color-main, $color-main);
  }
  
  .social {
    margin-bottom: 25px;
  }
  
  &__subscribe-title--slim {
    @include font-other($color-main, 14px);
    
    display: flex;
    margin-bottom: 15px;
    
    font-weight: 700;
  }
  
  &__copyright {
    @include separator(-1px, auto);
    @include font-other($color-main, 14px);
    
    font-weight: 300;
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }
}