.page-header {
  background-color: red;
  &__wrapper {
    @include wrapper;
  }
  
  &__top-section {
    @include separator(auto, -1px);
    
    display: flex;
    align-items: center;
  }
  
  &__bottom-section {
    position: relative;
    
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  
  &__promo {
    margin-right: auto;
    
    @include font-h2($gray);
    font-weight: 300;
  }
  
  &__search {
    margin-right: 40px;
  }
  
  &__search-input {
    @include un-input;
    @include font-p($gray);
    
    width: 228px;
    height: 35px;
    padding: 11px 20px 6px 1px;
    
    line-height: 14px;
  }
  
  &__search-input-wrap {
    position: relative;
    z-index: 1;
    
    &::before {
      content: "";
      
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      
      height: 1px;
      
      background-color: $color-action-main;
    }
    
    &:hover,
    &:focus {
      .fa {
        color: $color-action-main;
      }
    }
  }
  
  .social {
    margin: 5px 0;
  }
  
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  &__phone {
    @include font-other($color-second, 22px);
    
    margin-bottom: 8px;
  }
  
  &__email {
    @include font-other($gray, 17px);
  }
  
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  &__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__nav-item {
    @include margin-right(22px);
    @include un-link;
    @include font-other($gray, 14px);
    @include react--trs-default;
    @include react--color($color-action-main, $color-action-main);
    
    text-transform: uppercase;
    
    
    &--home {
      @include react--trs-default;
      @include react--color($color-action-main, $color-action-main-dark);
      
      position: relative;
      top: -1px;
      
      display: flex;
      width: 14px;
      height: 14px;
      
      font-size: 0;
      
      .fa {
        font-size: 14px;
      }
    }
  }
  
  &__logo {
    @include un-target;
    @include sprite-logo;
    
    position: relative;
    
    display: flex;
    width: 232px;
    height: 42px;
    margin: 0 40px;
    
    font-size: 0;
    
    cursor: pointer;
    
    &:hover::before {
      transform: translateY(10px);
    }
    
    &::before {
      @include sprite-logo__head;
      
      content: "";
      
      position: absolute;
      left: 50%;
      top: 20%;
      z-index: 2;
      
      width: 110px;
      height: 170px;
      margin-left: -55px;
      margin-top: -92px;
      
      transition: 0.4s ease;
    }
  }
  
  &__basket {
    display: flex;
    align-items: center;
  }
  
  &__basket-link {
    @include sprite-icon__basket;
    
    position: relative;
    
    display: flex;
    width: 25px;
    height: 31px;
    margin-right: 13px;
    
    font-size: 31px;
    line-height: 31px;
    
    transition: none;
    
    &:hover {
      @include sprite-icon__basket--red;
    }
  }
  
  &__basket-counter {
    @include font-other($color-main, 10px);
    
    position: absolute;
    right: 0;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    margin-right: -8.5px;
    margin-bottom: -8.5px;
    
    background-color: $gray;
    border-radius: 50%;
    
    &--filled {
      background-color: $color-action-main;
    }
  }
  
  &__basket-text {
    @include font-other($gray, 14px);
    
    text-transform: uppercase;
    
    &--red {
      color: $color-action-main;
    }
  }
}