.payment {
  position: relative;
  
  width: 100%;
  padding: 10px 10px;
  border: 1px solid $gray-light;
  
  @media (min-width: $lg) {
    padding: 25px 30px;
  }
  
  &::before,
  &::after {
    content: "";
    
    position: absolute;
    left: 12px;
    right: 10px;
    
//    height: 1px;
    min-width: 5px;
    
    border-bottom: 2px dashed $gray-lighten;
    
    @media (min-width: $lg) {
      left: 32px;
      right: 30px;
    }
  }
  
  &::before {
    top: 50px;
  }
  
  &::after {
    bottom: 60px;
  }
  
  &__settings-item {
    @include font-other($gray, 12px);
    
    width: 65%;
    padding-bottom: 30px;
    
    text-transform: uppercase;
  }
  
  &__item > * {
    @include font-p($gray);
    
    width: 35%;
    padding: 8px 0;
    
    text-align: right;
  }
  
  &__full-price > * {
    @include font-other($color-second, 16px);
    
    padding-top: 37px;
    
    font-weight: 700;
  }
  
  &__item-counter {
    margin-left: 5px;
    
    color: $color-second;
    font-weight: 700;
  }
}