.product {
  display: flex;
  margin: 50px 0 20px;
  //temporary
//  border: 1px dashed black;
  
  &__content {
    margin-left: 95px;
  }
  
  &__title {
    @include font-h2($color-second);
    
    margin-bottom: 30px;
    
    font-size: 25px;
  }
  
  &__disc {
    @include font-p($gray);
    
    margin-bottom: 55px;
    
    font-size: 16px;
  }
  
  &__price {
    @include font-other($color-action-main, 25px);
    
    display: flex;
    margin-bottom: 25px;
    
    text-transform: uppercase;
  }
  
  &__price-levels {
    @include un-list;
    
    margin-bottom: 60px;
  }
  
  &__price-floor {
    @include font-other($gray, 16px);
    @include margin-bottom(10px);
  }
  
  &__controls {
    display: flex;
    margin-bottom: 35px;
  }
  
  &__target {
    @include btn($color-action-main, 16px);
    @include font-other($color-main, 12px);
    
    @include react--trs-default;
    @include react--background($color-action-main-dark, $color-action-main-dark);
    
    position: relative;
    
    height: 32px;
    padding: 10px 25px 10px 45px;
    margin-left: 15px;
    
    &:active {
      box-shadow: $shadow-btn;
    }
    
    &::before {
      content: "";
      
      position: absolute;
      left: 20px;
      top: 50%;
      
      width: 15px;
      height: 18px;
      margin-top: -10px;
      
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("icon__basket--slim.png");
    }
  }
  
  &__social {
    @include font-p($gray);
    
    display: flex;
    align-items: center;
  }
  
  .social {
    margin-left: 15px;
  }
}