.select {
  @include un-target;
  @include font-other($gray, 14px);
  
  min-height: 40px;
  padding: 0 16px;
  border: 1px solid $gray;
  
  &--radial {
    border-radius: 20px;
  }
}

.select {
  option {
    @include font-other($gray, 14px);
    
    min-height: 40px;
  }
}