.slider {
  position: relative;
  
  display: flex;
  
  background-color: $transparent;
  border: 1px solid $gray-lighter;
  
  &__controls {
    @include radial(60px);
    
    @include react--trs-default;
    
    position: absolute;
    top: 50%;
    z-index: 3995;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -30px;
    
    font-size: 0;
    
    background-color: $color-main;
    
    transition-property: background-image;
    
    &::before {
      content: "";
      
      width: 11px;
      height: 22px;
      
      background-repeat: no-repeat;
      background-position: center center;
    }
    
    &--left {
      left: 0;
      margin-left: -30px;
      
      &::before {
        @include sprite-icon__arrow-left--large;
      }
      
      &:hover::before {
        @include sprite-icon__arrow-left--large-red;
      }
    }
    
    &--right {
      right: 0;
      margin-right: -30px;
      
      &::before {
        @include sprite-icon__arrow-right--large;
      }
      
      &:hover::before {
        @include sprite-icon__arrow-right--large-red;
      }
    }
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
  }
  
  &__main {
    position: relative;
    
    border-right: 1px solid $gray-lighter;
//    overflow: hidden;
  }
  
  &__main-container {
//    display: flex;
    width: 320px;
    height: 440px;
//    padding: 30px;
    
//    overflow: hidden;
  }
  
  &__main-item {
//    flex-shrink: 0;
  }
  
  &__main-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  
  &__demos-controls {
    @include radial(25px);
    
    @include react--trs-default;
    
    position: absolute;
    left: 50%;
    z-index: 3995;
    
    margin-left: -12.5px;
    
    background-color: $color-main;
//    background: $color-main url("icon__arrow-left.png") no-repeat center center;
    
    &:hover {
      color: $color-action-main;
//      background-image: url("icon__arrow-left--slim-red.png");
    }
    
    &--top {
      top: -12.5px;
      
//      transform: rotate(90deg);
    }
    
    &--bottom {
      bottom: -12.5px;
      
//      transform: rotate(-90deg);
    }
  }
  
  &__demos-wrapper {
    position: relative;
    
    width: 155px;
    height: 440px;
//    padding: 15px;
    
//    overflow: hidden;
  }
  
  &__demos {
    position: absolute;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0px;
    
    padding: 3px 15px;
    
    overflow: hidden;
  }
  
  &__demos-container {
//    display: flex;
//    justify-content: center;
  }
  
  &__demos-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    width: 125px;

    overflow: hidden;
  }
  
//  &__demos-item-container {
//    &.active {
//      img {
//        box-shadow: 0 0 0 1px $gray-lighter;
//      }
//    }
//  }
  
  &__demos-item {    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    
//    &--current {
//      box-shadow: 0 0 0 2px red;
//    }
  }
  
  &__demos-img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
  }
}