.slider {
  position: relative;
  
  display: flex;
  
  background-color: $transparent;
  border: 1px solid $gray-lighter;
  
  &--offset-top {
    top: -45px;
  }
  
  &__controls {
    @include radial(60px);
    
    position: absolute;
    top: 50%;
    z-index: 1;
    
    margin-top: -30px;
    
    background-color: $color-main;
    
    &--left {
      left: 0;
      margin-left: -30px;
    }
    
    &--right {
      right: 0;
      margin-right: -30px;
    }
  }
  
  &__list {
    display: flex;
    justify-content: space-between;
  }
  
  &__main {
    position: relative;
    
    border-right: 1px solid $gray-lighter;
  }
  
  &__main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 440px;
    padding: 30px;
    
    overflow: hidden;
  }
  
  &__demos {
    @include un-list;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 155px;
    height: 440px;
    padding: 10px;
    
    overflow: hidden;
  }
  
  &__demos-item {
//    margin: 10px 0;
  }
}