.social {
  display: flex;
  
  &__item {
    @include margin-right(10px);
    @include react--trs-short;
    
    position: relative;
    
    display: flex;
    width: 26px;
    height: 26px;
    
    font-size: 0;
    
    background-color: #424242;
    border-radius: 50%;
    
    &::before {
      content: "";
      
      position: absolute;
      top: 50%;
      left: 50%;
      
      width: 16px;
      height: 20px;
      margin-left: -8px;
      margin-top: -10px;
      
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  
  &__item.social__item--vk {
    @include react--background($color-vk, $color-vk);
    
    &::before {
      background-image: url("icon__vk.png");
    }
  }
  
  &__item.social__item--facebook {
    @include react--background($color-facebook, $color-facebook);
    
    &::before {
      background-image: url("icon__facebook.png");
    }
  }
  
  &__item.social__item--instagram {
    @include react--background($color-instagram, $color-instagram);
    
    transition: none;
    
    &::before {
      background-image: url("icon__instagram.png");
    }
  }
  
  &__item.social__item--twitter {
    @include react--background($color-twitter, $color-twitter);
    
    &::before {
      background-image: url("icon__twitter.png");
    }
  }
  
  &__item.social__item--youtube {
    @include react--background($color-youtube, $color-youtube);
    
    &::before {
      background-image: url("icon__youtube.png");
    }
  }
}

.social--share {
  .social__item--youtube {
    display: none;
  }
}