<div class="alert">
  <div class="alert__wrapper">
    <div class="alert__container">
      <span class="alert__title">Поздравляем!</span>
      <span class="alert__sub-title">Ваша заявка успешно принята</span>
      <p class="alert__message">Благодарим за внимание к нашему интернет-магазину Wadge.ru. Ваша заявка успешно принята и в ближайшее время с вами свяжется консультант для уточнения деталей.</p>
      <div class="alert__controls">
        <button class="alert__target">На главную</button>
        <span class="alert__controls-desc">или перейти в</span>
        <a class="alert__link" href="#">каталог</a>
      </div>
    </div>
  </div>
</div>