<div class="js-basket-sticky  sticky-btn  sticky-btn--basket-link">
  <a class="basket-link" href="{{ cart_url }}" title="Корзина">
    <i class="fa fa-credit-card" aria-hidden="true"></i>
    <span class="js-shopcart-amount  basket-link__counter  basket-link__counter--sticky">{{ cart.items_count }}</span>
  </a>
</div>