<div class="basket-item">
  <div class="basket-item__preview"></div>
  <span class="basket-item__name">Табак Wadge Lemon Pie 200 грамм</span>
  <span class="basket-item__price">850 RUB</span>
  <div class="counter counter--large">
    
    {% include 'conter--large' %}
    
  </div>
  <span class="basket-item__common-price">850 RUB</span>
  <button class="basket-item__remove"></button>
</div>