<div class="js-shopcart-area  page-header__basket">
  <a class="page-header__basket-link" id="basket" href="{{ cart_url }}" title="Корзина">
    <!--<i class="fa fa-shopping-basket" aria-hidden="true"></i>-->
    <span class="js-shopcart-amount  page-header__basket-counter  page-header__basket-counter--filled">{{ cart.items_count }}</span>
  </a>
  <span class="js-shopcart-total-summ  page-header__basket-text  page-header__basket-text--red">{{ cart.items_price | money}}</span>
  <span class="page-header__basket-text">{{ money }}</span>
</div>