<div class="blog-demo">
  <div class="blog-demo__preview">
    <span class="date--hot">{{ article.created_at | date: "%d.%m.%Y" }}</span>
  </div>
  <div class="blog-demo__content">
    <h2 class="blog-demo__title">{{ article.title }}</h2>
    <span class="date--slim">{{ article.created_at }}</span>
    <p class="blog-demo__desc">{{ article.preview }}</p>
    <a href="#" class="blog-demo__target">Читать далее</a>
  </div>
</div>