<div class="card">
  <div class="card__status">
    <div class="card__label-new"></div>
    <div class="card__label-star"></div>
    <div class="card__price  card__price--limit">750 RUB</div>
    <div class="card__price">650 RUB</div>
  </div>
  <div class="card__preview">
    <div class="card__taste"></div>
  </div>
  <span class="card__name">Табак Wadge Lemon Pie 200 гр</span>
  <p class="card__disc">Яркий насыщенный вкус барбарисовых леденцов Яркий насыщенный вкус барбарисовых леденцов Яркий насыщенный вкус барбарисовых леденцов</p>
  <div class="card__controls">
    
    {% include 'counter' %}
    
    <button class="card__target">В корзину</button>
  </div>
</div>