<div class="counter counter--large">
  <button class="counter__count-down" type="button"></button>
  <input class="counter__output" id="adults-count" type="text" value="1">
  <button class="counter__count-up" class="count-up" type="button"></button>
</div>