<div class="counter" data-quantity>
  <button class="counter__count-down" type="button" data-quantity-change="-1"></button>
  <input class="counter__output" type="text" value="1" min="1" max="1000" name="quantity">
  <button class="counter__count-up" type="button" data-quantity-change="1"></button>
</div>