<div class="counter counter--large" data-quantity>
  <button class="counter__count-down" type="button" data-quantity-change="-1"></button>
  <input class="counter__output" type="text" value="{{ item.quantity }}" min="1" max="1000" name="cart[quantity][{{ item.id }}]">
  <button class="counter__count-up" class="count-up" type="button" data-quantity-change="1"></button>
</div>