<div class="features">
  <div class="features__container">
    <div class="features__item  features__item--plant">
      <b class="features__title">100% Натуральность</b>
      <p class="features__description">В состав входят только настоящие листья табака Burley с Virginia без консервантов и химических веществ</p>
    </div>
    <div class="features__item  features__item--clear">
      <b class="features__title">Чистота продукта</b>
      <p class="features__description">Табак не смешан с "субпродуктами", т.е. в нем не содержится жесткий стебель, табачная пыль или крошка</p>
    </div>
  </div>
  <div class="features__container">
    <div class="features__item  features__item--strong">
      <b class="features__title">Крепость</b>
      <p class="features__description">При курении достигается приятное "опьянение" и легкое эйфорическое ощущение, способствующее отличному настроению</p>
    </div>
    <div class="features__item  features__item--taste">
      <b class="features__title">Стойкий вкус</b>
      <p class="features__description">Двойная ферментация при производстве делает вкус особенно стойким и длительным</p>
    </div>
  </div>
</div>