<form accept-charset="UTF-8" action="/client_account/feedback/auth_create" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="UR9TRlmXR9xgwDFCoaEggaYCYTGX5ygwenAA4iuonOI="></div>
<div class="set-block">
<div id="flash_messages"></div>

<div class="field fc">
<div class="field-label">
Ваш вопрос, отзыв или пожелание
:
</div>
<div class="field-content"><textarea cols="40" id="feedback_content" name="feedback[content]" rows="8" style="margin-top:7px; margin-bottom:10px; width:450px; height:100px;"></textarea></div>
</div>
<div class="field fc">
<div class="field-content"><input class="button" name="commit" type="submit" value="Отправить"></div>
</div>
<div class="field fc">
<div class="field-content">
<small>Ответ магазина поступит на e-mail или телефон, указанный в контактных данных.</small>
</div>
</div>
</div>
</form>