<div class="page-title">
  <div class="page-title__wrapper">
    <h1 class="page-title__title">Табачная карта</h1>
    <span class="page-title__desc">Широкая линейка ароматной палитры и уникальных миксов</span>
    <div class="page-title__controls">
      <p class="page-title__breadcrumbs">
        <a class="page-title__breadcrumbs-item" href="#">Главная</a>
        <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current" href="#">Каталог</a>
      </p>
      <a class="page-title__back-link" href="#">Предыдущая страница</a>
    </div>
  </div>
</div>