<div class="pagination">
  <p class="pagination__container">
    <span class="pagination__desc">Страница:</span>
    <a class="pagination__item  pagination__item--prev  pagination__item--disabled" href="#"></a>
    <a class="pagination__item  pagination__item--current" href="#">1</a>
    <a class="pagination__item" href="#">2</a>
    <a class="pagination__item  pagination__item--next" href="#"></a>
  </p>
</div>