{% if search.performed? %}
  {% if search.results == empty %}
    {% include 'alert' %}
  {% else %}
    <div class="page-main">
      <div class="catalog" data-search-result>
        {% paginate search.results by 12 %}
          <div class="catalog__list">
          {% for product in search.results %}
              {% include 'card' %}
          {% endfor %}
          </div>
          {% if search.results != empty %}
            {% include "pagination" %}
          {% endif %}
        {% endpaginate %}
      </div>
      {% include 'text-field' %}
    </div>
  {% endif %}
{% else %}
  {% include 'alert' %}
{% endif %}

