<p class="social">
  <a class="social__item  social__item--vk" href="https://vk.com/wadge_tobacco" target="_blank">Вконтакте</a>
  <a class="social__item  social__item--facebook" href="https://www.facebook.com/wadge.ru" target="_blank">Фейсбук</a>
  <a class="social__item  social__item--instagram" href="https://www.instagram.com/wadgetobacco/" target="_blank">Инстаграмм</a>
  <a class="social__item  social__item--youtube" href="https://www.youtube.com/channel/UCT5FVYVS26MEVSoTRP0GBPQ" target="_blank">Ютьюб</a>
</p>