 <div class="form-outer sp-force-hide"> 
   <style id="subscribe-form-style" class="">
     .sp-force-hide { 
       display: none;
     }

     .sp-form[sp-id="46367"] { 
       width: 300px; 
       font-family: Arial, "Helvetica Neue", sans-serif;
       
       margin: 0;
       padding: 0;
     }
     
     .sp-form[sp-id="46367"] .sp-field { 
       position: relative;
       
       display: flex; 
       flex-direction: column;
       padding: 0;
     }
     
     .sp-form[sp-id="46367"] .sp-form-control { 
       height: 35px; 
       width: 220px;
       padding: 10px 20px 7px 0;
       border: none;
       border-bottom: 1px dashed #666666;
       
       font-size: 15px; 
       color: #ffffff;
       
       background-color: transparent; 
       outline: none;
     }
     
     .sp-form[sp-id="46367"] .sp-field label { 
       color: #444444;
       font-size: 13px; 
       font-style: normal; 
       font-weight: bold;
     }
     
     .sp-form[sp-id="46367"] .sp-control-label { 
       display: flex;
       margin-bottom: 12px;

       font-weight: 700;
       color: #ffffff;
       font-size: 14px;
       line-height: 14px;
     }
     
     .sp-form[sp-id="46367"] .sp-button { 
       position: absolute;
       top: -33px;
       right: 36px;
       
       width: 60px;
       padding: 0;
       
       color: #ffffff; 
       
       font-size: 0;
       
       background-color: #f24941; 
       border-radius: 25px;
     }
     
     .sp-form[sp-id="46367"] .sp-button i { 
       font-size: 18px;
     }

     .sp-form[sp-id="46367"] .sp-button__submit:active {
       box-shadow: inset 0 2px 3px rgba(0, 146, 168, 0.35);
     }
         
     .sp-form[sp-id="46367"] .sp-button-container { 
       text-align: right;
     }
     
     .sp-message.sp-message-error, .sp-message.sp-message-success {
          margin: 0;
      }
     
     .sp-message.sp-message-error, .sp-message.sp-message-success p {
          display: inline-block;
      }
     
     .sp-form .sp-field .sp-tip {
       transform: translate(-50%);
       top: 70px;
       left: 40%;
      }
     
     .sp-form[sp-id="46367"] p { 
       max-width: 275px;
       overflow: visible;
     }
   </style> 
   <div id="sp-form-46367" sp-id="46367" sp-hash="1908acda6344ddd562258075605a3fd5d3a44e00ea1c349fa03c1cdaff9bb30c" sp-lang="ru" class="sp-form sp-form-regular sp-form-embed" sp-show-options="{}"> <div class="sp-message"> 
     <div></div> 
   </div> 
   <div id="droppableArea" class="sp-element-container ui-sortable ui-droppable" >
     <div class="sp-field " sp-id="sp-2c9b79e0-ceb3-4dc8-bc88-ccf6af49468b" > 
       <label class="sp-control-label"> 
         <span class="page-footer__subscribe-title--slim">Хотите получать полезные новости?</span> 
       </label> 
       <input type="email" sp-type="email" name="sform[email]" class="sp-form-control" placeholder="Ваш e-mail" sp-tips="%7B%22required%22%3A%22%D0%9E%D0%B1%D1%8F%D0%B7%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%BE%D0%BB%D0%B5%22%2C%22wrong%22%3A%22%D0%9D%D0%B5%D0%B2%D0%B5%D1%80%D0%BD%D1%8B%D0%B9%20email-%D0%B0%D0%B4%D1%80%D0%B5%D1%81%22%7D" required="required" style=""> 
     </div>
   </div> 
   <div class="sp-field sp-button-container " sp-id="sp-9c8ef927-264c-4b44-886a-592f06f2dae8" style=""> 
     <button id="sp-9c8ef927-264c-4b44-886a-592f06f2dae8" class="sp-button">
       <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
       Подписаться 
     </button> 
   </div> 
   <div class="sp-link-wrapper sp-brandname__left " style=""> 
   </div> 
 </div> 
 <script type="text/javascript" src="//cdn.sendpulse.com/apps/fc3/build/default-handler.js"></script>
</div> 