  <div class="text-field">
    <h2 class="text-field__title"></h2>
    <h3 class="text-field__sub-title"></h3>
    <p class="text-field__phar"></p>
    <p class="text-field__phar"></p>
    <h3 class="text-field__sub-title"></h3>
    <p class="text-field__phar"></p>
    <ul class="text-field__list">
      <li class="text-field__list-item"></li>
      <li class="text-field__list-item"></li>
      <li class="text-field__list-item"></li>
    </ul>
    <p class="text-field__phar"></p>
  </div>