<div class="text-field">
  {% case template %}
    {% when 'collection' or 'search' %}
      {{ blocks.seo-collection.content }}
    {% when 'product' %}
      {{ blocks.seo-product.content }}
    {% when 'index' %}
      {{ page.content | editable }}
  {% endcase %}
</div>