//colors

$color-main-dark: #ccc;
$color-main-trans: rgba(255, 255, 255, 0.9);
$color-main: #ffffff;

$color-second-transen: rgba(0, 0, 0, 0.80);
$color-second-trans: rgba(0, 0, 0, 0.95);
$color-second: #000000;
$color-second-light: #111111;
$color-second-lighten: #424242;

$color-action-main-dark: #db281f;
$color-action-main: #f24941;

$color-action-second: #e3cb00;

//special colors

  //card status
  $color-status-new: #72a600;
  $color-status-star: #fe962a;

  //social
  $color-vk: #4c75a3;
  $color-facebook: #3b5998;
  $color-twitter: #4099ff;
  $color-instagram: linear-gradient(-30deg, rgba(121, 0, 143, 0.78) 0%, rgba(216, 0, 255, 0.78) 0%, rgba(248, 235, 52, 0.78) 0%, rgba(247, 43, 124, 0.78) 49%, rgba(7, 39, 215, 0.78) 100%);
  $color-youtube: #c3191d;

$gray: #666666;
$gray-light: #d3d3d3;
$gray-lighten: #afafaf;
$gray-lighter: #c7c7c7;

$transparent: transparent;
$black: #000;

//fonts

$font-family: Lato, sans-serif;
$font-family--h1: "Adelle Cyrillic Bold";
$font-family--h2: "Lato", sans-serif;
$font-family--h3: "Lato", sans-serif;
$font-family--p: "Lato", sans-serif;

$font-size: 16px;
$font-size--h1: 44px;
$font-size--h2: 18px;
$font-size--h3: 16px;
$font-size--p: 14px;

$line-height: 16px;
$line-height--h1: 44px;
$line-height--h2: 18px;
$line-height--h3: 16px;
$line-height--p: 18px;

$font-weight: 400;
$font-weight--h1: 700;
$font-weight--h2: 900;
$font-weight--h3: 700;
$font-weight--p: 400;

//shadows
$shadow-btn: inset 0 2px 3px rgba(0, 146, 168, 0.35);