    {% if account.reviews_enabled? %}
      <li class="tabs-item menu-item {% unless is_active %}active {% assign is_active = true %}{% endunless %}">
        <a href="#product-reviews" data-toggle="tabs" class="tabs-link menu-link">{{ messages.label_reviews }}</a>
      </li>
    {% endif %}

    {% if account.reviews_enabled? %}
      <div id="product-reviews" class="tab-block {% unless is_active %}active {% assign is_active = true %}{% endunless %}">
        {% if product.reviews_count > 0 %}

          <div class="reviews-list">

            {% for review in product.reviews %}
              <div class="reviews-item">

                <div class="review-header">
                  <div class="author"><i class="fa fa-user"></i> {{ review.author }}</div>
                  <div class="date"><i class="fa fa-calendar"></i> {{ review.created_at | date: "%d.%m.%Y %H:%M" }}</div>
                  <div class="star-rating-wrapper">
                    <div class="star-rating">
                      {% assign r = 5 %}
                      {% for i in (1..5) %}
                        <span class="star-item {% if review.rating == r %}active{% endif %}"></span>
                        {% assign r = r | minus: 1 %}
                      {% endfor %}
                    </div>
                  </div>
                </div>

                <div class="review-body">
                  <p class="text">
                    {{ review.content }}
                  </p>
                </div>

              </div><!-- /.reviews-item -->
            {% endfor %}

          </div><!-- /.reviews-list -->

        {% endif %}